<div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
          <div class="text-center">
              <h5 class="mb-5">Now Loading</h5>
              <div class="loader">
                  <div class="bar bar1"></div>
                  <div class="bar bar2"></div>
                  <div class="bar bar3"></div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Vendor JS-->
<script src="userAssets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="userAssets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="userAssets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="userAssets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="userAssets/js/plugins/slick.js"></script>
<script src="userAssets/js/plugins/jquery.syotimer.min.js"></script>
<script src="userAssets/js/plugins/wow.js"></script>
<script src="userAssets/js/plugins/jquery-ui.js"></script>
<script src="userAssets/js/plugins/perfect-scrollbar.js"></script>
<script src="userAssets/js/plugins/magnific-popup.js"></script>
<script src="userAssets/js/plugins/select2.min.js"></script>
<script src="userAssets/js/plugins/waypoints.js"></script>
<script src="userAssets/js/plugins/counterup.js"></script>
<script src="userAssets/js/plugins/jquery.countdown.min.js"></script>
<script src="userAssets/js/plugins/images-loaded.js"></script>
<script src="userAssets/js/plugins/isotope.js"></script>
<script src="userAssets/js/plugins/scrollup.js"></script>
<script src="userAssets/js/plugins/jquery.vticker-min.js"></script>
<script src="userAssets/js/plugins/jquery.theia.sticky.js"></script>
<script src="userAssets/js/plugins/jquery.elevatezoom.js"></script>
<!-- Template  JS -->
<script src="./userAssets/js/main.js?v=3.4"></script>
<script src="./userAssets/js/shop.js?v=3.4"></script>
</body>

</html>